MONGO_URI = mongo_uri_connection_string

JWT_SECRET = secret
JWT_EXPIRE = 30d
JWT_COOKIE_EXPIRE = 12

RATE_LIMIT = true

SMTP_HOST = smtp.mailtrap.io
SMTP_PORT = 2525
SMTP_EMAIL = 
SMTP_PASSWORD = 
FROM_NAME = 
FROM_EMAIL = 
